img {
    height: 250px;
    width: 300px;
    border-radius: 7px;
    border-width: 2px;
    border-color: brown;
    border-style: solid;
}
.cut-i {
    height: 100px;
    width: 25px;
}
.container {
    background-color: rgba(135, 222, 179, 0.603)
}
footer {
    background-color: rgba(59, 34, 75, 0.11);
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    margin: 8px;
}
.nav-item {
    font-weight: 200;
    font-weight: bold;
}